.kicker {
  margin: 0;
  font-family: var(--mantine-font-family-monospace);
  font-size: rem(11px);
  font-weight: 500;
  letter-spacing: 0.18em;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--mantine-color-anchor);
}
